
<style>
#currency {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#currency td, #currency th {
  border: 1px solid #ddd;
  padding: 8px;
}

#currency tr:nth-child(even){background-color: #f2f2f2;}

#currency tr:hover {background-color: #ddd;}

#currency th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>

<br>
<h3 style="text-align: center;">Crypto Currency<br>
</h3>
<div data-sly-use.model="com.aem.challenge.core.models.CryptoCurrencyComponentModel">
    <sly data-sly-test = "${model.currencyResults.size == 0}"> No Best Sell or Buy Prices Found</sly>

    <!-- Attributes as a row -->
    <div>
        <sly data-sly-test = "${model.currencyResults}">
            <table id="currency">

                <thead>

               		 <tr>
                      <sly data-sly-list.result="${model.currencyResults}">
						<th colspan="2">${result.currency}</th>
                       </sly>
                	</tr>

                </thead>
                <tbody>
					 <tr>
                       	<sly data-sly-list.result="${model.currencyResults}">
                           	<td>Buy</td><td>Sell</td>
                        </sly>
				     </tr>
				     <tr>
                     	<sly data-sly-list.result="${model.currencyResults}">
                            <td>$${result.bestQuote.buy.price}</td>
                            <td>$${result.bestQuote.sell.price}</td>
						</sly>
                     </tr>
                     <tr>
                        <sly data-sly-list.result="${model.currencyResults}">
                            <td>${result.bestQuote.buy.time}</td>
                            <td>${result.bestQuote.sell.time}</td>
						 </sly>
                     </tr>
                      <tr>
                        <sly data-sly-list.result="${model.currencyResults}">
                            <td>Profit</td>
                            <td>$${result.bestQuote.diff}</td>
						 </sly>
                     </tr>
                </tbody>
            </table>
         </sly>
    </div>

</div>
<br><br>